---

description: list of project including class generator GUI from database tables

---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}

  <body>

    {% include header.html %}
   
    <div class="row">
    
      <!--<div class="kt-carousel">
        
           <div class="rs-carousel">
            <span class="prev"></span>
            <span class="next"></span>
            <ul>
               <li class="carousel-image">
                <img src="/assets/Images/instagram/BtBarber/home4.jpg">
              </li>
              <li class="carousel-image">
                 <img src="/assets/Images/instagram/BtBarber/home2.jpg">
              </li>
               <li class="carousel-image">
                <img src="/assets/Images/instagram/BtBarber/home3.jpg">
              </li>
               <li class="carousel-image">
                <img src="/assets/Images/instagram/resize/home1-resize.jpg">
              </li>
             
             
             
            </ul>
          </div>
         

      </div>-->
      <div id="links">
        
            <a href="/assets/Images/instagram/BtBarber/home1.jpg">
            </a>
            <a href="/assets/Images/instagram/BtBarber/home3.jpg">
            </a>
      </div>
            
        
  <div
  id="blueimp-gallery-carousel"
  class="blueimp-gallery blueimp-gallery-carousel"
  aria-label="image carousel"
>
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a
    class="prev"
    aria-controls="blueimp-gallery-carousel"
    aria-label="previous slide"
    >‹</a
  >
  <a
    class="next"
    aria-controls="blueimp-gallery-carousel"
    aria-label="next slide"
    >›</a
  >
  <a
    class="play-pause"
    aria-controls="blueimp-gallery-carousel"
    aria-label="play slideshow"
    aria-pressed="true"
    role="button"
  ></a>
  <ol class="indicator"></ol>
</div>

</div>

      <div class="row">
          <div class="main"></div>
      </div>
      
     
     
       

   {% include footer.html %}

  </body>
</html>



