---

description: list of project including class generator GUI from database tables

---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}

  <body>

    {% include header.html %}
   
    <div class="row">
    
      <!--<div class="kt-carousel">
        
           <div class="rs-carousel">
            <span class="prev"></span>
            <span class="next"></span>
            <ul>
               <li class="carousel-image">
                <img src="/assets/Images/instagram/BtBarber/home4.jpg">
              </li>
              <li class="carousel-image">
                 <img src="/assets/Images/instagram/BtBarber/home2.jpg">
              </li>
               <li class="carousel-image">
                <img src="/assets/Images/instagram/BtBarber/home3.jpg">
              </li>
               <li class="carousel-image">
                <img src="/assets/Images/instagram/resize/home1-resize.jpg">
              </li>
             
             
             
            </ul>
          </div>
         

      </div>-->
      <div id="links-home">
        
            <a href="/assets/Images/instagram/BtBarber/home1.jpg">
            </a>
            
      </div>
            
        
  <div
  id="blueimp-gallery-carousel"
  class="blueimp-gallery blueimp-gallery-carousel"
  aria-label="image carousel"
>
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a
    class="prev"
    aria-controls="blueimp-gallery-carousel"
    aria-label="previous slide"
    >‹</a
  >
  <a
    class="next"
    aria-controls="blueimp-gallery-carousel"
    aria-label="next slide"
    >›</a
  >
  <a
    class="play-pause"
    aria-controls="blueimp-gallery-carousel"
    aria-label="play slideshow"
    aria-pressed="true"
    role="button"
  ></a>
  <ol class="indicator"></ol>
</div>

</div>

      <div class="row">
          <div class="main index-padding-top">
            <div class="wrapper">
            <h1 class="style-walles-header"> Style Walles</h2>
          <div id="links">
            <div class="first-row">
              <div class="Euro-style style">
              <a title="Euro Style" href="/assets/Images/instagram/BtBarber/71299657_165013897978037_4264134634927395676_n.jpg">
                  <img src="/assets/Images/instagram/BtBarber/71299657_165013897978037_4264134634927395676_n.jpg">
              </a>
              <h4 class="align-center"> Euro Style</h4>
            </div>
            <div class="high-top style">
              <a title="High Top" href="/assets/Images/instagram/BtBarber/66482387_365749530780358_7295574173496968336_n.jpg">
                  <img src="/assets/Images/instagram/BtBarber/66482387_365749530780358_7295574173496968336_n.jpg">
              </a>
              <h4 class="align-center"> High top</h4>
            </div>
            <div class="high-fade style">
              <a title="High Fade" href="/assets/Images/instagram/BtBarber/65450470_2484507398235490_2770431829211569495_n.jpg">
                  <img src="/assets/Images/instagram/BtBarber/65450470_2484507398235490_2770431829211569495_n.jpg">
              </a>
              <h4 class="align-center"> High fade</h4>
            </div>
          </div>
          </div>
        </div>
          </div>
      </div>
      
      <div
  id="blueimp-gallery"
  class="blueimp-gallery"
  aria-label="image gallery"
  aria-modal="true"
  role="dialog"
>
  <div class="slides" aria-live="polite"></div>
  <h3 class="title"></h3>
  <a
    class="prev"
    aria-controls="blueimp-gallery"
    aria-label="previous slide"
    aria-keyshortcuts="ArrowLeft"
    >‹</a
  >
  <a
    class="next"
    aria-controls="blueimp-gallery"
    aria-label="next slide"
    aria-keyshortcuts="ArrowRight"
    >›</a
  >
  <a
    class="close"
    aria-controls="blueimp-gallery"
    aria-label="close"
    aria-keyshortcuts="Escape"
    >×</a
  >
  <a
    class="play-pause"
    aria-controls="blueimp-gallery"
    aria-label="play slideshow"
    aria-keyshortcuts="Space"
    aria-pressed="false"
    role="button"
  ></a>
  <ol class="indicator"></ol>
</div>
</div>
     
       

   {% include footer.html %}

  </body>
</html>

<script>
  document.getElementById('links').onclick = function (event) {
        event = event || window.event
        var target = event.target || event.srcElement
        var link = target.src ? target.parentNode : target
        var options = { index: link, event: event }
        var links = this.getElementsByTagName('a')
        blueimp.Gallery(links, options)
    }
</script>





