<div id="footer">
   <div class="container">
   	<div class="row">
   	<div class="col-md-4 col-sm-6">
<div class="textwidget"><h3>BT Barbers</h3>
<p>Few minute walk from Fainsbury park Station, our Barber shop is on busy the Seven sisters Road, has become recognised salon in North London. Our mission is to uphold quality care for each clients needs and provide an excellent customer service. We have talented barbers and stylists with skills and experience to cut all types of afro and European hair textures.  
   We have relaxing and friendly environment for our customers. Our trusted, fast growing customer base often return for their professional service that suits their personality and style.
   </p></div>
   	</div>
   	<div class="col-md-4 col-sm-6">
      <h3 class="quick-link-header">Quick Links</h3>
      <div class="menu-quick-link">

         <ul>

      
        {% for page in site.pages %}
          {% if page.title %}
           <li>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ page.title }}</a>
           </li>
          {% endif %}
        {% endfor %}
    

         </ul>
      </div>
   	</div>
   	<div class="col-md-4 col-sm-6">
         <h3 class="quick-link-header">Contact Info</h3>
         <div class="contact-info-footer">
          <ul>
				<li><i class="fa fa-phone size"></i>07958125212</li>
            <i class="fa fa-envelope mail"></i><a href="mailto:beriajoss@gmail.com">hello@btbarbers@gmail.com </a>  
				<li><i class="fa fa-map-marker size" style="font-size:19px;position:relative;top:1px;left:2px"></i> London, England</li>
          </ul>
         </div>
   	</div>

   </div>
   <div class="row">
  
      &copy; {{site.time | date: '%Y'}}. All rights reserved.
  </div>
   </div>
   
      
 

</div>
